# Created by .ignore support plugin (hsz.mobi)
/.idea/
/Amazon/Amazon.iml
/Chase/Chase.iml
/Costco/Costco.iml
/Ebay/Ebay.iml
/Facebook/Facebook.iml
/Generic/Generic.iml
/MetroPlus/MetroPlus.iml
/project.group8.iml
/NewYorkTimes/NewYorkTimes.iml
/CignaHC/CignaHC.iml
